.env
.DS_Store
venv/

README.deployment.md
index.deprecated.html

lambda/
add-user/


.venv
__pycache__/
*.pyc
.env

Legacy/**
DynamoDB/**
lambda/**
# / matches only files/folders in the current directory
# /** matches files/folders in the current directory and all subdirectories
sns-request-topics/    # ignores only the sns-request-topics folder
terraform/**           # ignores terraform folder and all its subdirectories/files
engine/**             # ignores engine folder and all its subdirectories/files
